*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-color: linear-gradient(#def783,#adf3b3,#a7c395);
    --footer-color: rgb(193, 220, 180);

}

.logo{
    display: flex;
    justify-content: center;
    background: var(--header-color);
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 10px 10px rgb(139, 136, 136);

}
.classlogo{
    height: 90px;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgb(139, 136, 136);

}
h1{
    padding:20px;
    font-size: 50px;
}
#validar{
    opacity:0.7;
    background-color: #a7c395;
    border: #a7c395;

}
.navegacion{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
.carrito-compras > p{
    text-align: center;
    background-color: rgb(219, 15, 15);
    border-radius: 50%;
    width: 50%;
    height: 25px;
    position: relative;
    top: 30px;
    left: 25px;
    z-index: 1;
}
li{
    list-style: none;
    font-size: 20px;
}
.espacio{
    height: 30px;
    margin-top: 10px;
    background: var(--header-color);
    box-shadow: 0px 10px 10px rgb(139, 136, 136);

}
.productos-container{
    display: flex;
    flex-wrap: wrap;
}
.produto img{
    width: 245px;
    height: 130px;
}

.produto{
    width: 250px;
    margin-top: 30px;
    text-align: center;
    height: 250px;
    margin: 25px;
    border: 1px solid rgb(186, 190, 201);
    margin-left: 100px;

}
.boton-agregar{
    padding-top: 20px;
}
.produto:hover{
    box-shadow: 0px 10px 10px rgb(139, 136, 136);}
.pie-pagina{
    margin-top: 50px;
    height: 200px;
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-evenly;
    
}
footer > div{
    margin-top: 50px;
}

/* tarjeta de credito*/
.car{
    height: 600px;
    margin-top: 10px;
    background-color: rgb(180, 179, 182);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    height: 200px;
    width: 30%;
    border-radius: 10px;
    z-index: 1;
}
.imagen-tarjeta{
    height: 280px;
    width: 130%;
    position: relative;
    bottom: 35px;
    right: 60px;
}
#responseValidate{
    color: black;
    margin-right: 20px;
}
#responseNoValidate{
    color: red;
}
.inf{
    position: relative;
    bottom: 210px;
    width: 70%;
}
  .nombre{

    margin-left: 50px;

  }
 .numero{
    margin: 30px;
    margin-right: 10px;
    font-size: 27px;
    color: rgba(228, 166, 57, 0.853);
 }



.campos-de-informacion{
    height: 350px;
    width: 35%;
    background-color: rgb(244, 247, 250);
    border-radius: 20px;
    position: relative;
    bottom: 80px;
    
}

.campos-de-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 70%;
    height: 25px;
}
.label1{
    margin-top: 30px;
    font-size: 20px;

}
.label2{
    font-size: 20px;
    margin-top: 30px;
}
#botonValidation{
    background-color: rgba(54, 54, 185, 0.452);
    margin-top: 15px;
    border-radius: 12px;
    width: 40%;
    height: 30px;
}